{% load bootstrap4 %}

<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,
shrink-to-fit=no">
  {% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
</head>

<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">

<!-- <a href="{% url 'log' %}">Личный кабинет</a>

      <a href="{% url 'register' %}">Регистрация</a>
      <a href="{% url 'password_reset' %}">Забыл пароль </a>
     <a href="{% url 'login' %}">Войти</a>-->
     <button class="navbar-toggler" type="button" data-toggle="collapse"
 data-target="#navbarCollapse" aria-controls="navbarCollapse"
 aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span></button>
 <div class="collapse navbar-collapse" id="navbarCollapse">


    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a <a href="{% url 'log' %}">Выйти</a>
    </li>
    <li>
      &nbsp;
      </li>
    <li class="nav-item">
    <a <a href="{% url 'panel' %}">Панель</a>
    </li>
    </ul>
    {% else %}
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a <a href="{% url 'register' %}">Регистрация </a>
</li>
<li>
  &nbsp;
  </li>
<li class="nav-item">
<a href="{% url 'login' %}"> Войти</a>
</li>
</ul>
{% endif %}
</div>
</nav>

<main role="main" class="container">
<div class="pb-2 mb-2 border-bottom">
{% block page_header %}{% endblock page_header %}
</div>
<div>
{% block content %}{% endblock content %}
</div>
</main>
