{% extends "base.html" %}

{% block content %}

{% if token != None %}
{{token}}
<form method="post" action="{% url 'panel' %}">
  {% csrf_token %}
    <button type='submit' class="btn btn-primary"> Сбросить токен </button>
    <input type="hidden" name="next"
    value="{% url 'index' %}" />
</form>
{% else %}
<form method="post" action="{% url 'panel' %}">
  {% csrf_token %}
    <button type='submit' class="btn btn-primary"> Сгенерировать токен </button>
    <input type="hidden" name="next"
    value="{% url 'index' %}" />
</form>
{% endif %}
<div>

{% for i in users %}
  {{i}} <a href="{% url 'change' i %}">Изменить</a>
  <form method="post" action="{% url 'delete' %}">
    {% csrf_token %}
    <input type="hidden" name="user" value={{i}} />
    <button type='submit' class="btn btn-primary" > Удалить </button>
    </form>

{% endfor %}

</div>
{% endblock %}
